:root {
  --bgHeader: rgb(39 39 42);
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --blue: rgb(93 188 252);
}

main.flex {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 20px;
  align-items: start;
}

main section.left-sec {
  flex-direction: column;
  gap: 10px;
}

main section.left-sec button {
  background-color: rgba(36, 36, 46, 1);
  width: 12rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.1rem;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 1px 1px 40px rgb(53, 50, 50, 0.05);
}
main section.left-sec button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.7px;
  border: 1px solid var(--blue);
  box-shadow: 1px 1px 40px rgb(53, 50, 50, 0.9);
  text-shadow: 1px 1px 40px rgb(53, 50, 50, 0.9);
}
main section.left-sec button:hover {
  opacity: 1;
  box-shadow: 1px 1px 40px rgb(53, 50, 50, 0.9);
  text-shadow: 1px 1px 40px rgb(53, 50, 50, 0.9);
}

main section.right-sec {
  /* flex-grow: 1; */
}
.card{
  border:1px solid var(--subtitle);
  border-radius: 10px;
}
.card .img{
  border-radius:px;
}
.box {
  padding: 1rem;
}

.box .title{
  color: var(--title);
}

.box .sub-title{
  color: var(--subtitle);
}

.box .book-now-btn{
  margin: 1rem 0 0 0;
  padding: 5px;
  background-color: hsla(120, 67%, 39%, 0.8);
  border-radius: 10px;
  border: 1px solid var(--subtitle);
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.3);
  text-shadow: 1px 1px 10px rgba(128, 128, 128, 0.3);

}
.box .book-now-a{
  color: var(--subtitle);
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  color: var(--title);
}